{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Red Innovar Argentinga</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/img/favicon.png' %} " rel="icon">
  <link href="{% static '/img/apple-touch-icon.png' %} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/icofont/icofont.min.css' %} " rel="stylesheet">
  <link href="{% static '/vendor/remixicon/remixicon.css' %} " rel="stylesheet">
  <link href="{% static '/vendor/boxicons/css/boxicons.min.css'%} %" rel="stylesheet">
  <link href="{% static '/vendor/owl.carousel/assets/owl.carousel.min.css' %}%" rel="stylesheet">
  <link href="{% static '/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Template Main CSS File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v2.0.0
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <a href="index.html"><img src="{% static 'img/RedArg-02.jpg'%}" height="30" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>

          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#quienes">Quienes somos</a></li>
          <li><a href="#quehacemos">Qu&eacute; hacemos</a></li>
          <li><a href="#contact">Colabor&aacute;</a></li>

          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Hace tu
            Pedido</button>
         
          <!--  <li class="get-started"><a href="#about">Hace tu pedido </a> </i> -->
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

 <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                  <div class="typeform-widget" data-url="https://redargentinainnovar.typeform.com/to/t2HMK1"
                    style="width: 100%; height: 500px;"></div>
                  <script>
                    (function() {
                      var qs, js, q, s, d = document,
                        gi = d.getElementById,
                        ce = d.createElement,
                        gt = d.getElementsByTagName,
                        id = "typef_orm",
                        b = "https://embed.typeform.com/";
                      if (!gi.call(d, id)) {
                        js = ce.call(d, "script");
                        js.id = id;
                        js.src = b + "embed.js";
                        q = gt.call(d, "script")[0];
                        q.parentNode.insertBefore(js, q)
                      }
                    })()
                  </script>
 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
              </div>

            </div>
          </div>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div id="instagram-feed1" class="instagram_feed">
    </div>

    <script src="{% static 'js/InstagramFeed.min.js' %}"></script>
    <script>
      (function() {
        new InstagramFeed({
          'username': 'red.argentina.innovar',
          'container': document.getElementById("instagram-feed1"),
          'display_profile': false,
          'display_biography': false,
          'display_gallery': true,
          'callback': null,
          'styling': true,
          'items': 12,
          'items_per_row': 6,
          'margin': 1
        });
      })();
    </script>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="quienes" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Quienes Somos</h2>
        </div>

        <div class="row content text-center">

          <p>
            Somos un grupo de personas de diversas empresas, o independientes, que decidieron juntarse ante la
            problemática
            del avance del <strong>COVID-19</strong> a nivel nacional.
          </p>
          <p>
            Nuestra Red junta personas de diversas especialidades que se dedican a pensar soluciones de alto impacto
            para ayudar a diversos actores sociales.
          </p>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->

    <!-- ======= Services Section ======= -->
    <section id="quehacemos" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Qu&eacute; Hacemos</h2>
          <div class="row content text-center">
            <p>
              En una primera instancia, organizamos una célula de trabajo de diseño e impresión 3D. Este equipo no solo
              se ha encargado de perfeccionar los modelos que otros equipos están utilizando, sino que además llevan el
              fuerte trabajo de invertir su tiempo y recursos para poder producir tanto viseras como mascarillas
              completas.
            </p>
            <p>
              Todo lo producido es donado tanto a diferentes profesionales de la salud como a otros actores sociales que
              se encuentran día a día expuestos al COVID para que el resto de la población se encuentre más segura.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="donde" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">

          <div class="section-title" data-aos="fade-up">
            <h2>Donde lo hacemos</h2>
            <div class="row content text-center">
              <p>
                Estamos enfocando principalmente los esfuerzos en Capital Federal, por ser uno de los centros de mayor
                conglomeración de habitantes y con más casos activos. Tambi&eacute;n contamos con puntos de
                producci&oacute;n en Entre R&iacute;os y R&iacute;o Negro.
              </p>
              <p>
                Si ten&eacute;s una impresora 3D y queres sumarte llena el formulario de <a href="#contact"> contacto
                </a> y un coordinador se va a estar comunicando.
              </p>
            </div>
          </div>
        </div>

      </div>

      </div>
    </section><!-- End Services Section -->

    </section><!-- End Services Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Colaborá</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-3" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Red Argentina Innovar</h3>

              <div class="social-links">

                <a href="https://www.instagram.com/red.argentina.innovar/" class="instagram"><i
                    class="icofont-instagram"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-8 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <form method='post'>
              {% csrf_token %}
              {% crispy form %}

            </form>

          </div>

        </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Red Argentina Innovar </strong>.
          </div>

        </div>
      </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->

  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>